@mixin flex {
  display: flex;
}
@mixin row {
  flex-direction: row;
}
@mixin column {
  flex-direction: column;
}

$border-000: 1px solid #000;

// 

*{
  margin: 0;
  padding: 0;
}
#root{
  width: 100vw;
  height: 100vh;
  @include flex;
  @include column;

    div {
      @include flex;
      border: $border-000;
    }

  > #Header{
      width: 100vw;
      height: 10vh;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      > #ScoreBoard {
        width: 10vw;
        height: 10vh;
      }
      > #TimeLeft{
        width: 80vw;
        height: 10vh;
      }
      > #Button{
        width: 10vw;
        height: 10vh;
        
        > #STOP {
          width: 10vw;
          height: 10vh;

        }
      }
    }
  > #Container{
      width: 100vw;
      height: 80vh;
      justify-content: center;
      align-items: center;
      
      > #gameScreen {
        width: 95vw;
        height: 80vh;
        border: $border-000;
        justify-content: center;
        align-items: center;
        > div {
          align-items: center;
          justify-content: center;
          width: 50vw;
          height: 50vh;
          border: $border-000;
          background-color: darkgrey;
        }
      }
    }
  > #Footer{
      width: 100vw;
      height: 10vh;
    }
}