@mixin flex {
  display: flex;
}
@mixin row {
  flex-direction: row;
}
@mixin column {
  flex-direction: column;
}

$border-000: 1px solid #000;

// 

*{
  margin: 0;
  padding: 0;
}
#root{
  width: 100vw;
  height: 100vh;
  @include flex;
  @include column;

    div {
      @include flex;
      border: $border-000;
    }

  > #Header{
      width: 100vw;
      height: 10vh;
    }
  > #Container{
      width: 100vw;
      height: 80vh;
      > div {
        
      }
    }
  > #Footer{
      width: 100vw;
      height: 10vh;
    }
}